### data type and variables

In [ ]:
# In programming, data type is an important concept.
# Variables can store data of different types, and different types can do different things.

# Python has the following data types built-in by default, in these categories:

In [11]:
a= "hallow python"
B=12
C=22.22
D=1j
print(a,B,C,D)
print(type(a))
print(type(B))
print(type(C))
print(type(D))

hallow python 12 22.22 1j
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

### Arithmetical oprators

In [14]:
# Python Arithmetic Operators
a=4-3
b=4+3
c=4*4
d=4/4
e= 4//4
print(a,b,c,d)

1 7 16 1.0

In [19]:
a=4
b=5
c=9.0
d=7
print(a%a)
print(b%a)
print(d/b)

0
1
1.4


### bitwise oprator

& ==> If both bits are 1 then only result is 1 otherwise result is 0

| ==> If atleast one bit is 1 then result is 1 otherwise result is 0

^ ==>If bits are different then only result is 1 otherwise result is 0

In [1]:
print(2&2)
print(3|4)
print(5^4)

2
7
1

In [ ]:
### user inout

In [3]:
username =input('enter name' )
print(username)

enter name prahsnt chavan

prahsnt chavan

In [10]:
# string input
input_a = input()

# print type
print(type(input_a))

# integer input
input_b = int(input())

# print type
print(type(input_b))

 44

<class 'str'>

 34

<class 'int'>

In [12]:
intb=int(input('jg'))
print(intb)

jg 7

7

In [14]:
A=int(input())
print(A)
print(type(A))

 4

4
<class 'int'>

In [17]:
A,B,C= input().split()
A=int(A)
B=float(B)
print("%d$%.2f$%c"%(A,B,C))


print(type(C))
print(type(B))
print(type(A))

 4 5 6

4$5.00$6
<class 'str'>
<class 'float'>
<class 'int'>

In [19]:
print((1, 2) + (3, 4))

(1, 2, 3, 4)

### LIST

In [20]:
list=['a','b','c','d','e']
print(list)

['a', 'b', 'c', 'd', 'e']

In [27]:
#indexing
list=['a','b','c','d','e']
print(list[4])
print(list[2])
print(list[-2])
print(list[-3])

e
c
d
c

### slicing

In [6]:
li = ['p','r','o','g','r','a','m','i','z']
print(li[1:4])
print(li[3:-3])
print(li[4:-2])
print(li[3:-1])
print(li[0::2])
print(li[0::2])
print(li[-9:3])
print(li[::-1])
print(li[8:0:-2])

['r', 'o', 'g', 'r']
['g', 'r', 'a']
['r', 'a', 'm']
['g', 'r', 'a', 'm', 'i']
['p', 'o', 'r', 'm', 'z']
['p', 'o', 'r', 'm', 'z']
['p', 'r', 'o']
['z', 'i', 'm', 'a', 'r', 'g', 'o', 'r', 'p']
['z', 'm', 'r', 'o']

In [9]:
print('r' in li)
print('r' not in li)

True
False

In [10]:
li=li+['A','B']
print(li)

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z', 'A', 'B']

### list nested

In [11]:
li=['a',1,['aa','bb','ccc'],2,['abc','bbc',['ab','ac']]]
print(li)

['a', 1, ['aa', 'bb', 'ccc'], 2, ['abc', 'bbc', ['ab', 'ac']]]

In [18]:
print(li[2][1])
print(li[4][2][1][0])

bb
a

In [27]:
print('a' in li)
# print('aa' in li of [1])?##

True

In [ ]:
li=['a','b']

In [28]:
print(li)

['a', 1, ['aa', 'bb', 'ccc'], 2, ['abc', 'bbc', ['ab', 'ac']]]

In [30]:
print(len(li[2]))

3

# list are mutable

In [46]:
l=['a','b',4,3,25]
print(l)
l[2]='prashantchavan'
print(l)
l[1:2]=[30000]
print(l)
del l[3]
print(l)
l[0:2]=['rock','star']
print(l)

['a', 'b', 4, 3, 25]
['a', 'b', 'prashantchavan', 3, 25]
['a', 30000, 'prashantchavan', 3, 25]
['a', 30000, 'prashantchavan', 25]
['rock', 'star', 'prashantchavan', 25]

In [47]:
print(l)
l.append('joker')
l.insert(1,"yk")
print(l)

['rock', 'star', 'prashantchavan', 25]
['rock', 'yk', 'star', 'prashantchavan', 25, 'joker']

In [82]:
#To append elements from another list to the current list, use the extend() method.


theL=['apple','banana','cherry']
theT=['mango','pinaapple','papaya']
theL.extend(theT)
print(theL)

['apple', 'banana', 'cherry', 'mango', 'pinaapple', 'papaya']

In [50]:
theL.remove('apple')
print(theL)

['banana', 'cherry', 'mango', 'pinaapple', 'papaya']

'cherry'

In [79]:
# theL.pop(1)
# print(theL.pop(1))
# del theL[1]
print(theL)

['apple', 'banana', 'cherry', 'mango', 'pinaapple', 'papaya']

In [83]:
# theL.clear()
print(theL)

['apple', 'banana', 'cherry', 'mango', 'pinaapple', 'papaya']

## Tuple

In [84]:
# tuple are immutable ,allow duplicate ,orderd

In [85]:
th= ('name','apllle','yk')
print(type(th))

<class 'tuple'>

In [87]:
#containe diff value 
t1=('abc',34,'True','meg')
print(t1)
print(type(t1))

('abc', 34, 'True', 'meg')
<class 'tuple'>

In [89]:
# using tuple  constructor

In [93]:
T=tuple(("agc","tr","kio"))
print(T)
print(type(T))

('agc', 'tr', 'kio')
<class 'tuple'>

In [98]:
T=tuple(("agc","tr","kio",2,4,1,534,24,'KKDE',"KKONSO"))
print(T[1:])
print(T[1:3])
print(T[1:-1])
print(T[::-1])

('tr', 'kio', 2, 4, 1, 534, 24, 'KKDE', 'KKONSO')
('tr', 'kio')
('tr', 'kio', 2, 4, 1, 534, 24, 'KKDE')
('KKONSO', 'KKDE', 24, 534, 1, 4, 2, 'kio', 'tr', 'agc')

In [102]:
if 'agc' in T:
    print('R')

print('tr' in T)

R
True

In [107]:
x=('a','v','K')
y= list(x)
y[2]=3
x=tuple(y)
print(x)
print(type(x))

('a', 'v', 3)
<class 'tuple'>

In [113]:
aList=[5,10,15,25]
print(aList[-2])

15

In [114]:
l=[1,2,3,4,5]
value=[x&1 for x in l]
print(value)

[1, 0, 1, 0, 1]

In [115]:
a=5/5.0
b=5*5.5
print(a//b)

0.0

In [116]:
T=tuple(("agc","tr","kio",2,4,1,534,24,'KKDE',"KKONSO"))
(x,y,*z)=T
print(x)
print(y)
print(z)

agc
tr
['kio', 2, 4, 1, 534, 24, 'KKDE', 'KKONSO']